# Dataset Exploration
The following notebook explores the dataset: Disco Tracks from Spotify.

### Package imports

We will be using the following libraries: os and pandas

In [1]:
import os 
import pandas as pd # using pd as an alias for pandas

<hr>

### Environment set-up

In [3]:
# Set path to where datasets are on your computer 
path = r"C:\Users\iimam\Documents\Week 2\Notebooks\Classic Disco Tracks"

# Change to directory 
os.chdir(path)

# Get all files that are listed in the directory 
sourcefiles = os.listdir(path)

# Print only files that end in .csv (list comprehension)
[print(file) for file in sourcefiles if file.endswith(".csv")]

# Print using a regualr for loop
for file in sourcefiles:
    if file.endswith(".csv"):
        print(file)

['ClassicDisco.csv']

### Reading the Spotify data

In [8]:
# Use the pd.read_csv() function to read the csv file 
spotify_data = pd.read_csv("ClassicDisco.csv", sep = ",")

# Let's take a look at the first few rows of the data using the head() function 
# This will give you the first 5 rows of data

# spotify_data.head() # - UNCOMMENT THIS LINE IF YOU WOULD LIKE TO RUN IT

# If you wanted to take a look at the first 100 rows, you can pass 100 into the head() function 
# spotify_data.head(100) # - UNCOMMENT THIS LINE IF YOU WOULD LIKE TO RUN IT

# spotify_data.tail(100)

### Exploring the characteristics of the data

In [14]:
# Now let's get the number of how many rows and columns there are in the data using .shape
spotify_data.shape

# To the get the number of rows, we will grab the first (or 0 index) of the shape 
# To get the number of columns, we will grab the second (or 1 index) of the shape
num_rows = spotify_data.shape[0]
num_cols = spotify_data.shape[1]

(724, 18)

In [18]:
# Print out the number of rows and columns using .format and passing the num_rows and num_cols variables 
# FORMAT METHOD
# print("The dataset has {} rows and {} columns".format(num_rows, num_cols))
# name = "Mo" 
# print("My name is {}".format(name))
# F STRING METHOD
# print(f"The dataset has {num_rows} rows and {num_cols} columns")

My name is Mo

In [37]:
# Now let's list the column names using the .columns attribute 
# [print(name) for name in spotify_data.columns]
spotify_data

,Track,Artist,Album,Year,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity
0,Boogie Oogie Oogie,A Taste Of Honey,A Taste Of Honey,1978,245173,4,0.797,0.548,2,-9.228,0,0.0492,0.040100,0.000010,0.0994,0.868,123.686,53
1,Disco Dancin' - 2004 - Remastered,A Taste Of Honey,A Taste Of Honey,1978,210493,4,0.751,0.570,2,-11.645,1,0.0813,0.371000,0.000020,0.1230,0.770,103.408,11
2,Distant,A Taste Of Honey,A Taste Of Honey,1978,260053,4,0.468,0.512,2,-10.187,1,0.1380,0.782000,0.000020,0.2020,0.714,163.400,13
3,Do It Good,A Taste Of Honey,Another Taste (Expanded Edition),1978,342826,4,0.699,0.740,3,-8.625,0,0.0289,0.071400,0.000002,0.1650,0.889,104.168,17
4,If We Loved,A Taste Of Honey,A Taste Of Honey,1978,266200,4,0.463,0.459,6,-11.600,1,0.0296,0.764000,0.000003,0.1580,0.300,129.267,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,Lady America,Voyage,"Twelve Inch Classics from the 70s, Vol. 2",1979,407800,4,0.649,0.840,5,-7.713,1,0.0411,0.000681,0.006580,0.3750,0.921,128.020,23
720,Let's Fly Away,Voyage,Fly Away,1979,306818,4,0.709,0.854,8,-4.750,1,0.0348,0.050600,0.000055,0.6240,0.900,129.258,15
721,Scotch Machine,Voyage,Voyage,1979,208200,4,0.633,0.901,10,-10.248,1,0.0325,0.000343,0.909000,0.0533,0.862,129.173,20
722,Souvenirs,Voyage,Fly Away,1979,390567,4,0.633,0.970,5,-4.153,1,0.0380,0.000667,0.202000,0.3960,0.757,127.776,29
723,"Tahiti, Tahiti…",Voyage,Fly Away,1979,299510,4,0.672,0.972,2,-4.929,1,0.1390,0.004250,0.000009,0.1010,0.815,127.591,24

In [39]:
# spotify_filtered = spotify_data[['Track', 'Artist', 'Album', 'Year']]
# spotify_filtered

# spotify_data.loc[700]
# spotify_data.iloc[0, 3] # row comes first, then column

spotify_data

,Track,Artist,Album,Year,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity
0,Boogie Oogie Oogie,A Taste Of Honey,A Taste Of Honey,1978,245173,4,0.797,0.548,2,-9.228,0,0.0492,0.040100,0.000010,0.0994,0.868,123.686,53
1,Disco Dancin' - 2004 - Remastered,A Taste Of Honey,A Taste Of Honey,1978,210493,4,0.751,0.570,2,-11.645,1,0.0813,0.371000,0.000020,0.1230,0.770,103.408,11
2,Distant,A Taste Of Honey,A Taste Of Honey,1978,260053,4,0.468,0.512,2,-10.187,1,0.1380,0.782000,0.000020,0.2020,0.714,163.400,13
3,Do It Good,A Taste Of Honey,Another Taste (Expanded Edition),1978,342826,4,0.699,0.740,3,-8.625,0,0.0289,0.071400,0.000002,0.1650,0.889,104.168,17
4,If We Loved,A Taste Of Honey,A Taste Of Honey,1978,266200,4,0.463,0.459,6,-11.600,1,0.0296,0.764000,0.000003,0.1580,0.300,129.267,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,Lady America,Voyage,"Twelve Inch Classics from the 70s, Vol. 2",1979,407800,4,0.649,0.840,5,-7.713,1,0.0411,0.000681,0.006580,0.3750,0.921,128.020,23
720,Let's Fly Away,Voyage,Fly Away,1979,306818,4,0.709,0.854,8,-4.750,1,0.0348,0.050600,0.000055,0.6240,0.900,129.258,15
721,Scotch Machine,Voyage,Voyage,1979,208200,4,0.633,0.901,10,-10.248,1,0.0325,0.000343,0.909000,0.0533,0.862,129.173,20
722,Souvenirs,Voyage,Fly Away,1979,390567,4,0.633,0.970,5,-4.153,1,0.0380,0.000667,0.202000,0.3960,0.757,127.776,29
723,"Tahiti, Tahiti…",Voyage,Fly Away,1979,299510,4,0.672,0.972,2,-4.929,1,0.1390,0.004250,0.000009,0.1010,0.815,127.591,24

In [17]:
# Let's list each data type of each column using the .dtypes attribute
# Knowing what type of data is present in each column will help when it comes to exploring and manipulating the dataset
spotify_data.dtypes

Track                object
Artist               object
Album                object
Year                  int64
Duration              int64
Time_Signature        int64
Danceability        float64
Energy              float64
Key                   int64
Loudness            float64
Mode                  int64
Speechiness         float64
Acousticness        float64
Instrumentalness    float64
Liveness            float64
Valence             float64
Tempo               float64
Popularity            int64
dtype: object

In [41]:
spotify_data["Key"] = str(spotify_data["Key"])
spotify_data.dtypes

Track                object
Artist               object
Album                object
Year                 object
Duration              int64
Time_Signature        int64
Danceability        float64
Energy              float64
Key                  object
Loudness            float64
Mode                  int64
Speechiness         float64
Acousticness        float64
Instrumentalness    float64
Liveness            float64
Valence             float64
Tempo               float64
Popularity            int64
dtype: object

### Now, you try

Try reading and looking at the characteristics of the Spotify data. For your assignment, you will be reading and exploring the charateristics of the Metacritic movie dataset, answering a few questions about the data, and then thinking of three additional questions you can ask of the data.

### Answers

- What was the highest rated movie per year?
- Which director has released the most number of movies over the years?
- Does a particular genre always have a high rating? If so, what genre?
- What are three additional questions you can ask of this dataset?

##### Highest rated movie per year

In [3]:
# Read in data 
path = r"/Users/umreenimam/Documents/BMCC/Lesson Materials/Week 2/Lab Datasets"
os.chdir(path)

In [4]:
os.listdir(path)

['16k_Movies.csv',
 'Classic Disco Tracks.zip',
 'Movies 1910-2024 archive.zip',
 'ClassicDisco.csv',
 'Week 2 Lab Dataset Descriptions.docx']

In [5]:
data = pd.read_csv("16k_Movies.csv")
data.head()

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
0,0,Dekalog (1988),"Mar 22, 1996",This masterwork by Krzysztof Kieślowski is one...,7.4,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama
1,1,Three Colors: Red,"Nov 23, 1994",Krzysztof Kieslowski closes his Three Colors t...,8.3,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance"
2,2,The Conformist,"Oct 22, 1970","Set in Rome in the 1930s, this re-release of B...",7.3,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama
3,3,Tokyo Story,"Mar 13, 1972",Yasujiro Ozu’s Tokyo Story follows an aging co...,8.1,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama
4,4,The Leopard (re-release),"Aug 13, 2004","Set in Sicily in 1860, Luchino Visconti's spec...",7.8,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History"

In [6]:
# Remove unecessary column: 'Unnamed: 0'
data.drop(columns = ["Unnamed: 0"], inplace = True)
data.head()

,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
0,Dekalog (1988),"Mar 22, 1996",This masterwork by Krzysztof Kieślowski is one...,7.4,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama
1,Three Colors: Red,"Nov 23, 1994",Krzysztof Kieslowski closes his Three Colors t...,8.3,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance"
2,The Conformist,"Oct 22, 1970","Set in Rome in the 1930s, this re-release of B...",7.3,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama
3,Tokyo Story,"Mar 13, 1972",Yasujiro Ozu’s Tokyo Story follows an aging co...,8.1,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama
4,The Leopard (re-release),"Aug 13, 2004","Set in Sicily in 1860, Luchino Visconti's spec...",7.8,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History"

What was the highest rated movie per year?

In [8]:
# Convert dates to pandas datetime timestamps 
data["Release Date"] = pd.to_datetime(data["Release Date"])
data.head()

,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
0,Dekalog (1988),1996-03-22,This masterwork by Krzysztof Kieślowski is one...,7.4,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama
1,Three Colors: Red,1994-11-23,Krzysztof Kieslowski closes his Three Colors t...,8.3,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance"
2,The Conformist,1970-10-22,"Set in Rome in the 1930s, this re-release of B...",7.3,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama
3,Tokyo Story,1972-03-13,Yasujiro Ozu’s Tokyo Story follows an aging co...,8.1,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama
4,The Leopard (re-release),2004-08-13,"Set in Sicily in 1860, Luchino Visconti's spec...",7.8,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History"

In [9]:
# Create a year column 
data["Year"] = data["Release Date"].dt.year
data.head()

,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres,Year
0,Dekalog (1988),1996-03-22,This masterwork by Krzysztof Kieślowski is one...,7.4,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama,1996
1,Three Colors: Red,1994-11-23,Krzysztof Kieslowski closes his Three Colors t...,8.3,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance",1994
2,The Conformist,1970-10-22,"Set in Rome in the 1930s, this re-release of B...",7.3,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama,1970
3,Tokyo Story,1972-03-13,Yasujiro Ozu’s Tokyo Story follows an aging co...,8.1,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama,1972
4,The Leopard (re-release),2004-08-13,"Set in Sicily in 1860, Luchino Visconti's spec...",7.8,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History",2004

In [15]:
# Get a list of indicies that have the highest rated moives 
highest_ratings_idx = data.groupby(["Year"])["Rating"].idxmax()
highest_rated_movies = data.iloc[highest_ratings_idx]
highest_rated_movies.reset_index(drop = True, inplace = True)
highest_rated_movies

,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres,Year
0,Patton,1970-02-18,This Academy Award-winning biography of Americ...,8.4,136,Franklin J. Schaffner,"Francis Ford Coppola, Edmund H. North, Ladisla...",2 h 52 m,"Biography,Drama,War",1970
1,Get Carter,1971-03-18,When his brother dies under mysterious circums...,8.5,155,Stephen Kay,"Ted Lewis, David McKenna",1 h 42 m,"Action,Crime,Drama,Thriller",1971
2,The Godfather,1972-03-24,Francis Ford Coppola's epic features Marlon Br...,9.3,"4,102",Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",2 h 55 m,"Crime,Drama",1972
3,Theater of Blood,1973-04-05,A Shakespearean actor takes poetic revenge on ...,9.0,4,Douglas Hickox,"Anthony Greville-Bell, Stanley Mann, John Kohn...",1 h 44 m,"Comedy,Drama,Horror",1973
4,The Godfather: Part II,1974-12-12,"The sequel to ""The Godfather"" continues the sa...",9.1,"1,309",Francis Ford Coppola,"Francis Ford Coppola, Mario Puzo",3 h 20 m,"Crime,Drama",1974
5,One Flew Over the Cuckoo's Nest,1975-11-19,A nice rest in a state mental hospital beats a...,8.7,569,Milos Forman,"Lawrence Hauben, Bo Goldman, Ken Kesey, Dale W...",2 h 13 m,Drama,1975
6,Rocky,1976-12-03,Rocky Balboa (Sylvester Stallone) is a Philade...,8.7,309,John G. Avildsen,Sylvester Stallone,2 h,"Drama,Sport",1976
7,The Choirboys,1977-12-23,A group of Los Angeles cops decide to take off...,9.6,28,Robert Aldrich,"Joseph Wambaugh, Christopher Knopf",1 h 59 m,"Comedy,Crime,Drama",1977
8,The Bad News Bears Go to Japan,1978-06-30,In this third film of the Bad News Bears serie...,9.3,30,John Berry,Bill Lancaster,1 h 31 m,"Comedy,Family,Sport",1978
9,Alien,1979-06-22,For the first time in nearly a quarter-century...,9.0,"1,490",Ridley Scott,"Dan O'Bannon, Ronald Shusett",1 h 57 m,"Horror,Sci-Fi",1979
10,The Blue Lagoon,1980-07-02,"In the Victorian period, two children are ship...",9.4,334,Randal Kleiser,"Henry De Vere Stacpoole, Douglas Day Stewart",1 h 44 m,"Adventure,Drama,Romance",1980
11,The Cannonball Run,1981-06-19,A motley crew of eccentric competitors partici...,9.4,171,Hal Needham,Brock Yates,1 h 35 m,"Action,Comedy,Sport",1981
12,The Toy,1982-12-10,An underemployed reporter (Richard Pryor) find...,9.5,72,Richard Donner,"Francis Veber, Carol Sobieski",1 h 42 m,Comedy,1982
13,Curse of the Pink Panther,1983-08-12,"Inspector Clouseau disappears, and the Surete ...",8.9,23,Blake Edwards,"Blake Edwards, Geoffrey Edwards",1 h 49 m,"Comedy,Crime,Mystery",1983
14,Ninja III: The Domination,1984-09-14,An evil ninja attempts to avenge his death fro...,9.6,14,Sam Firstenberg,James R. Silke,1 h 32 m,"Action,Fantasy,Thriller",1984
15,Turk 182,1985-02-15,Jimmy Lynch (Timothy Hutton) is angry because ...,10.0,9,Bob Clark,"James Gregory Kingston, Denis Hamill, John Hamill",1 h 42 m,"Comedy,Drama",1985
16,Haunted Honeymoon,1986-07-25,Two radio voice actors are getting married. La...,9.8,44,Gene Wilder,"Gene Wilder, Terence Marsh",1 h 22 m,Comedy,1986
17,House II: The Second Story,1987-08-28,The new owner of a sinister house gets involve...,9.5,301,Ethan Wiley,"Fred Dekker, Ethan Wiley",1 h 28 m,"Comedy,Fantasy,Horror",1987
18,Who Framed Roger Rabbit,1988-06-21,Gumshoe detective Eddie Valiant (Hoskins) is o...,8.6,329,Robert Zemeckis,"Jeffrey Price, Peter S. Seaman, Gary K. Wolf, ...",1 h 44 m,"Animation,Adventure,Comedy,Crime,Family,Fantas...",1988
19,Troop Beverly Hills,1989-03-24,A soon to be divorced Beverly Hills socialite ...,9.7,308,Jeff Kanew,"Ava Ostern Fries, Pamela Norris, Margaret Oberman",1 h 45 m,"Adventure,Comedy",1989
20,Madhouse,1990-02-16,The luxurious villa of yuppie couple Mark and ...,9.7,227,Tom Ropelewski,Tom Ropelewski,1 h 30 m,Comedy,1990
21,The NeverEnding Story II: The Next Chapter,1991-02-08,A young boy with a distant father enters a wor...,9.7,263,George Miller,"Karin Howard, Michael Ende",1 h 30 m,"Adventure,Drama,Family,Fantasy",1991
22,Encino Man,1992-05-22,"(Also known as ""California Man"") When they fin...",9.3,146,Les Mayfield,"George Zaloom, Shawn Schepps",1 h 28 m,Comedy,1992
23,Aspen Extreme,1993-01-22,"An autoworker and his buddy exit Detroit, move...",9.7,303,Patrick Hasburgh,Patrick Hasburgh,1 h 53 m,"Drama,Romance,Sport",1993
24,Trapped in Paradise,1994-12-02,Residents of a friendly Pennsylvania town foil...,9.3,32,George Gallo,George Gallo,1 h 51 m,"Adventure,Comedy,Crime,Romance",1994
25,Highlander: The Final Dimension,1995-01-27,"Deceived that he had won the Prize, Connor Mac...",9.4,310,Andrew Morahan,"Gregory Widen, Brad Mirman, William N. Panzer,...",1 h 39 m,"Action,Fantasy,Romance,Sci-Fi",1995
26,Two If by Sea,1996-01-12,A couple steals a Matisse painting on contract...,9.5,416,Bill Bennett,"Denis Leary, Mike Armstrong, Ann Leary",1 h 36 m,"Comedy,Crime,Romance",1996
27,Steel,1997-08-15,A scientist for the military turns himself int...,9.4,195,Kenneth Johnson,"Louise Simonson, Jon Bogdanove, Kenneth Johnson",1 h 37 m,"Action,Adventure,Crime,Fantasy,Sci-Fi",1997
28,Saving Private Ryan,1998-07-24,"During the WWII D-Day invasion, a squad of sol...",8.8,"1,327",Steven Spielberg,Robert Rodat,2 h 49 m,"Drama,War",1998
29,Men Cry Bullets,1999-10-22,"Gloria (Lauren), a novelist who enjoys rough s...",9.6,300,Tamara Hernandez,Tamara Hernandez,1 h 45 m,"Comedy,Drama",1999
30,Wildflowers,2000-09-01,A 17 year-old girl's life is changed forever w...,9.8,202,Melissa Painter,Melissa Painter,1 h 33 m,Drama,2000
31,Innocence,2001-08-17,The story of the love triangle that is created...,9.6,5,Lucile Hadzihalilovic,"Lucile Hadzihalilovic, Frank Wedekind",2 h 2 m,"Drama,Mystery",2001
32,Love in the Time of Money,2002-11-01,In this quintessentially metropolitan sexual r...,9.8,257,Peter Mattei,Peter Mattei,1 h 30 m,"Comedy,Drama,Romance",2002
33,Don't Tempt Me,2003-08-22,"Times have been tough for Heaven, with Hell wi...",9.8,310,Agustín Díaz Yanes,Agustín Díaz Yanes,1 h 52 m,"Crime,Drama",2003
34,Noel,2004-11-12,This Christmas-themed movie follows the storie...,9.7,208,Chazz Palminteri,David Hubbard,1 h 36 m,Drama,2004
35,A Hole in My Heart,2005-04-08,"A brave, shocking cinematic experience intimat...",10.0,14,Lukas Moodysson,Lukas Moodysson,1 h 38 m,Drama,2005
36,Surviving Eden,2006-08-25,"In the tradition of ""Waiting for Guffman"" and ...",10.0,7,Greg Pritikin,"Greg Pritikin, Joanne Storkan",1 h 29 m,Comedy,2006
37,Badland,2007-11-30,Jerry is a Marine reservist who was a young pa...,9.5,405,Francesco Lucente,Francesco Lucente,2 h 45 m,Drama,2007
38,Garden Party,2008-07-11,"Los Feliz, CA - On the sleazier side of Sunset...",9.8,296,Jason Freeland,Jason Freeland,1 h 28 m,Drama,2008
39,What Goes Up,2009-05-29,It is 1986. An emotionally damaged New York re...,9.5,4,Jonathan Glatzer,"Jonathan Glatzer, Robert C. Lawson",1 h 55 m,"Comedy,Drama",2009
40,Boxing Gym,2010-10-22,The subject of legendary documentarian Frederi...,9.8,16,Frederick Wiseman,NaN,1 h 31 m,Documentary,2010
41,Bunraku,2011-09-30,Using cutting-edge visuals and heart-pounding ...,9.4,530,Guy Moshe,"Boaz Davidson, Guy Moshe",1 h 58 m,"Action,Drama,Thriller",2011
42,Just 45 Minutes from Broadway,2012-10-12,"When a heart-broken actress and her ""civilian""...",9.7,264,Henry Jaglom,Henry Jaglom,1 h 52 m,"Comedy,Drama",2012
43,1st Night,2013-05-03,"Adam is a rich industrialist, who aspires to a...",9.7,178,Christopher Menaul,"Christopher Menaul, Jeremy Sams",1 h 56 m,"Comedy,Musical,Romance",2013
44,After,2014-08-08,In the winter of 2002 in chilly upstate New Yo...,9.9,83,Pieter Gaspersz,Sabrina Gennarino,1 h 39 m,"Drama,Mystery",2014
45,Paulo Coelho's Best Story,2015-07-31,Global phenomenon Paulo Coelho was not always ...,9.5,237,Daniel Augusto,Carolina Kotscho,1 h 52 m,"Biography,Drama,Music",2015
46,The Unspoken,2016-10-28,In 1997 the Anderson family vanished from thei...,9.6,484,Sheldon Wilson,Sheldon Wilson,1 h 31 m,"Horror,Thriller",2016
47,"Literally, Right Before Aaron",2017-09-29,"Still reeling from his recent breakup, Adam (J...",9.6,177,Ryan Eggold,Ryan Eggold,1 h 45 m,"Comedy,Drama",2017
48,Blue Iguana,2018-08-24,Ex-jailbirds Eddie and Paul are on parole and ...,9.6,207,Hadi Hajaig,Hadi Hajaig,1 h 40 m,"Action,Comedy,Crime,Romance,Thriller",2018
49,After,2019-04-12,"As she enters her first semester in college, T...",9.9,83,Pieter Gaspersz,Sabrina Gennarino,1 h 39 m,"Drama,Mystery",2019
50,Monsoon,2020-11-13,Kit (Henry Golding) returns to Ho Chi Minh Cit...,9.7,349,Hong Khaou,Hong Khaou,1 h 25 m,"Drama,History,Romance",2020
51,A Week Away,2021-03-26,"Nowhere left to go, Will Hawkins finds himself...",9.6,348,Roman White,"Alan Powell, Kali Bailey, Gabe Vasquez, Roman ...",1 h 30 m,"Drama,Family,Musical",2021
52,Vengeance,2022-07-29,"Ben Manalowitz, a journalist and podcaster fro...",9.8,145,Johnnie To,Ka-Fai Wai,1 h 48 m,"Action,Crime,Thriller",2022
53,A Radiant Girl,2023-02-17,"Paris, summer 1942. Irene (Rebecca Marder) is ...",9.5,276,Sandrine Kiberlain,Sandrine Kiberlain,1 h 38 m,"Drama,History",2023
54,Cora Bora,2024-06-14,Cora (Meg Stalter) puts her fledgling music ca...,9.9,18,Hannah Pearl Utt,Rhianon Jones,1 h 32 m,"Comedy,Drama",2024

Which director has released the most number of movies over the years?

In [18]:
# Groupby directors and calculate how many movies they have released using "size" function 
director_count = data.groupby("Directed by").agg(Num_Movies = pd.NamedAgg("Directed by", "size")).sort_values("Num_Movies", ascending = False).reset_index(drop = False)
director_count

                                        Directed by  Num_Movies
0                                       Woody Allen          50
1                                        Ron Howard          40
2                                      Ridley Scott          35
3                                  Steven Spielberg          35
4                                    Clint Eastwood          35
...                                             ...         ...
7374  Kenji Kamiyama, \n    \n      Hiroyuki Okiura           1
7375                                Damiano Damiani           1
7376                            Damien Dante Wayans           1
7377                                     Ken Marino           1
7378                                   A. Dean Bell           1

[7379 rows x 2 columns]

Does a particular genre always have a high rating? If so, what genre?

In [23]:
# Groupby genre and rating 
# Put results into a new dataframe
highest_rated_genre = pd.DataFrame(data.groupby("Genres")["Rating"].max()).sort_values("Rating", ascending = False)
highest_rated_genre.dropna(inplace = True)
highest_rated_genre

                                        Rating
Genres
Drama                                     10.0
Comedy,Drama                              10.0
Comedy                                    10.0
Drama,Mystery                              9.9
Comedy,Drama,Horror,Thriller               9.9
...                                        ...
Action,Thriller,War                        1.9
Action,Adventure,Comedy,Drama,Fantasy      1.8
Action,Adventure,Comedy,Drama,Thriller     1.7
Action,Drama,Sport,Thriller                1.5
Drama,Crime,Action                         1.1

[1503 rows x 1 columns]

In [ ]:
# size: counts all values (even NaNs) 
# count: counts all non-NaN values